<head>
	
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
 <script type = "text/javascript" src = "{{ STATIC_URL }}Highcharts-  2.2.1/js/highcharts.js"></script>
  <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">   </script>
  <script type = "text/javascript" src = "{{ STATIC_URL }}jquery-1.7.1.min.js"></script>

    {% load chartit %}
    {{ weatherchart|load_charts:"container" }}
</head>
<body>
    <div id='container'> Chart will be rendered here </div>
</body>